.horizontalLine {
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.title {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}
.author {
    font-size: 1rem;
    font-weight: 200;
    text-transform: full-width;
}
.body {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 300;
}
.body iframe {
    margin: 0 auto;
    padding: 20px 0;
}

.body div > pre {
    margin: 5vh auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    box-shadow: 2px 2px 7px black;
    width: 75%;
}
