.horizontalLine {
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.title {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}
.author {
    font-size: 1rem;
    font-weight: 200;
    text-transform: full-width;
}
.body {
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2.2rem;
}
.body p {
    margin: 1rem 0;
}
.body iframe {
    margin: 0 auto;
    padding: 20px 0;
    width: 90%;
}
.body img {
    margin: 14px auto;
    width: 75%;
}
.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
    font-size: revert;
    font-weight: revert;
}

.body > div > ul {
    padding-left: 1.5rem;
}
.body > div > ul > li {
    list-style-type: disc;
}

.body > div > ul > li > ul {
    padding-left: 1.5rem;
}
.body > div > ul > li > ul > li {
    list-style-type: circle;
}

.body > div > ul > li > ul > li > ul {
    padding-left: 1.5rem;
}
.body > div > ul > li > ul > li > ul > li {
    list-style-type: square;
}

.body > div > ul > li > ul > li > ul > li > ul {
    padding-left: 1.5rem;
}
.body > div > ul > li > ul > li > ul > li > ul > li {
    list-style-type: decimal;
}

.body > div > ul > li > ul > li > ul > li > ul > li > ul {
    padding-left: 1.5rem;
}
.body > div > ul > li > ul > li > ul > li > ul > li > ul > li {
    list-style-type: "- ";
}
.body div > pre {
    margin: 5vh auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    box-shadow: 2px 2px 7px black;
    width: 75%;
}

@media screen and (max-width: 800px) {
    .body iframe {
        width: 95%;
        height: 30vh;
    }
}
